body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #a7c043;
    color: rgb(243, 239, 239);
    text-align: center;
    margin-top: 50px;
    font-family: 'Teachers';
    font-size: 40px;
}

.activalogo {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 160px;
}

.secciones {
  background-color: #3c3c3b;
  color: rgb(243, 239, 239);
  margin: 50px;
  padding: 10px;
  font-family: 'Assistant';
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: none;
}

.parte2 {
    background-color: #a7c043;
    color: rgb(243, 239, 239);
    margin: 50px;
    padding: 10px;
    font-family: 'Assistant';
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    width: 50%;
    float: left;
  }

.imagenes2 {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.imagenes2 img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 2px 4px black;
}

.imagenes {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.imagenes img {
    width: 150px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 2px 4px black;
    transition: transform 0.3s;
}

.imagenes img:hover {
    transform: scale(1.1);
}

.secciones2 {
    background-color: #3c3c3b;
    color: rgb(243, 239, 239);
    margin: 50px;
    padding: 10px;
    font-family: 'Assistant';
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }

.secciones3 {
    background-color: #a7c043;
    color: rgb(243, 239, 239);
    margin: 50px;
    padding: 10px;
    font-family: 'Assistant';
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }

#vis {
    margin-left: 40px;
}

.seccionesconvis2 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    align-items: start; 
    margin: 20px; 
    margin-top: 30px;
}

#vis4, #vis5, #vis6 {
    margin-left: 200px;
}