body {
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: #a7c043;
    color: rgb(243, 239, 239);
    text-align: center;
    margin-top: 50px;
    font-family: 'Amaranth';
    font-size: 50px;
}

.activalogo {
    position: absolute;
    top: 34px;
    left: 18px;
    width: 225px;
    z-index: 1000;
}

.inicio {
  background-color: #3c3c3b;
  color: rgb(243, 239, 239);
  margin: 50px;
  padding: 10px;
  font-family: 'Asap';
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  display: none;
}

.imagenes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagenes img {
    width: 225px;
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 2px 4px black;
    transition: transform 0.3s;
}

.imagenes img:hover {
    transform: scale(1.1);
}

.secciones {
    margin: 50px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    overflow: hidden;
}

.parrafoizq {
    background-color: #a7c043;
    color: rgb(243, 239, 239);
    font-family: 'Asap';
    font-weight: bold;
    font-size: 18px;
    margin-right: 20px;
    padding: 10px;
  }

.imagenesizq {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

.imagenleft:hover {
    transform: scale(1.05); 
    z-index: 1; 
}

.imagenright:hover {
    transform: scale(1.05); 
    z-index: 1; 
}

.parrafoder {
    background-color: #3c3c3b;
    color: rgb(243, 239, 239);
    font-family: 'Asap';
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    padding: 10px;
  }

.graficosverticales {
    display: flex;
    flex-direction: column;
}

.graficoshorizontales {
    display: flex;
    flex-direction: row;
}

#vis6 {
    margin-left: 80px;
}

.final {
    background-color: #a7c043;
    color: rgb(243, 239, 239);
    margin: 50px;
    padding: 10px;
    font-family: 'Asap';
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.cuadros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin-left: 50px;
    margin-right: 50px;
}

.cuadros2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin-left: 20px;
    margin-right: 20px;
}

.cajas {
    background-color: #3c3c3b;
    color: rgb(243, 239, 239);
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Asap';
    font-weight: bold;
    border-radius: 8px;
}

.cajas ul {
    padding-left: 20px;
    text-align: left;
}

footer {
    background-color: #a7c043;
    color: rgb(243, 239, 239);
    text-align: center;
    padding: 10px;
    border-top: #3c3c3b 5px solid;
    width: 100%;
    bottom: 0;
    font-family: 'Asap';
    font-weight: bold;
}

.invisible {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

a {
    color: white;
}

.navbar {
    background-color: #3c3c3b;
    overflow: hidden;
    position: relative;
    margin-top: -67px;
    width: 100%;
    z-index: 500;
    padding: 0px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    padding: 8px;
    margin: 0 4px;
}

.navbar ul li a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'PT Sans';
    font-weight: bold;
}

h2 {
    font-size: 35px;
    text-align: center;
}

.colorpagina {
    color: #a7c043;
}

.colornegro {
    color: #3c3c3b;
}

.colorrojo {
    color: rgb(237, 45, 45);
}

.colorverde {
    color: rgb(112, 212, 112);
}

.colorazul {
    color: rgb(87, 87, 255);
}

.colorazul2 {
    color: rgb(119, 119, 255);
}

h3 {
    font-size: 30px;
    text-align: center;
}

#vis2 {
    margin-top: 40px;
    margin-bottom: 10px;
}